h1{
    color:blueviolet
    text-aling:center
}
body {
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fp4.wallpaperbetter.com%2Fwallpaper%2F873%2F373%2F65%2Fbodybuilder-4k-full-hd-wallpaper-preview.jpg&tbnid=9pWh0_UPpd8GlM&vet=12ahUKEwiq_vGq14v_AhWYtJUCHZF-B7EQMygCegUIARDEAQ..i&imgrefurl=https%3A%2F%2Fwww.wallpaperbetter.com%2Fpt%2Fhd-wallpaper-
    cydxi&docid=_uW3g-ZmqUYHRM&w=728&h=443&q=wallpaper%20pc%20de%20academia&hl=pt-BR&ved=2ahUKEwiq_vGq14v_AhWYtJUCHZF-B7EQMygCegUIARDEAQ)
}